<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <connectionStrings>
    <add name="RetoModel" connectionString="data source=(LocalDb)\MSSQLLocalDB;initial catalog=Reto.Data.RetoModel;attachdbfilename=|DataDirectory|\RetoDB.mdf;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>